rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    /* ---------------- USERS ---------------- */

    match /users/{userId} {

      allow read: if true;

      allow write:
      if request.auth != null
      &&
      (request.auth.uid == userId || request.auth.token.email == 'its.akshatnetworkhub23@gmail.com');
    }

    /* -------------- DOCUMENTS -------------- */

    match /documents/{docId} {

      // Public Read
      allow read: if true;

      // Authenticated Upload
      allow create:
      if request.auth != null
      &&
      validateDocument();

      // Only uploader can edit/delete, EXCEPT for likes array, AND admin can do anything
      allow update: if request.auth != null && (
        request.auth.uid == resource.data.userId || 
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['likes']) ||
        request.auth.token.email == 'its.akshatnetworkhub23@gmail.com'
      );
      
      allow delete: if request.auth != null && (
        request.auth.uid == resource.data.userId ||
        request.auth.token.email == 'its.akshatnetworkhub23@gmail.com'
      );
    }
    /* ---------- ACTIVITY LOGS ---------- */
    match /activity_logs/{logId} {
      allow create: if true;
      allow read: if true;
    }

    /* ---------- NOTIFICATIONS ---------- */
    match /notifications/{notificationId} {
      allow read: if request.auth != null && resource.data.email == request.auth.token.email;
      allow create: if false; // Only backend can create
      allow update, delete: if request.auth != null && resource.data.email == request.auth.token.email;
    }
    
    /* ---------- VALIDATION ---------- */

    function validateDocument() {

      return request.resource.data.keys().hasAll([
        'category',
        'discipline',
        'title',
        'description',
        'tags',
        'documentId',
        'pdfUrl',
        'createdAt',
        'userId',
        'userName'
      ])

      &&

      request.resource.data.category in [

        'SE',
        'SP',
        'UE',
        'EV',
        'T&N',
        'IQ',
        'A&LR',
        'PQ'
      ]

      &&

      request.resource.data.title is string

      &&

      request.resource.data.description is string

      &&

      request.resource.data.tags is list

      &&

      request.resource.data.documentId is string

      &&

      request.resource.data.pdfUrl is string

      &&

      request.resource.data.userId is string

      &&

      request.resource.data.userName is string;
    }
  }
}